*{
	font-family: Georgia, Verdana, Arial;
}
h1.megalopolis_titulo{
	text-align: center;
	font-family: Georgia, Comic-sans-serif;
	font-size: 75px;
	font-weight: bold;


}

div.productos-container {
	max-width: 100%;
	padding: 5px;
	width: 100%;

}
div.productos-container .producto {
	border :.5px solid #93d9ea;
	display: inline-block;
	margin: 4px 8px;
	min-height: 325px;
	width: 200px;
}

img.img-info-empresa {
	border : 4px solid #EF6D17;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	
	border-radius: 5px;

	box-shadow: 2px 2px 4px rgba(0,0,0, .5);
}

textarea {
	text-align: left;
}

ul.menu-sedes {
	width: 100%;
}
ul.menu-sedes li {
	border-bottom: 1px solid #A19393;
	display: inline-block;
	font-size: 20px;
	padding: 2px 7px;
	margin: 2px 7px;
	list-style: none;

}
.active-menu{
	
	color: red;
	font-weight: bold;

}
.active-menu a {
	background-color: #EA4949;
	border-bottom: 2px solid red;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;

	box-shadow: 2px 0 2px rgba(234,73,73, .3);
	color: #fff;
	padding: 5px;
	font-size: 20px;
}


.active-menu a:hover {
	color: #fff;
}
.catalogo-header {
	margin: 5% auto;
	width: 100%;
}
.catalogo-header h2 {
	/*color: #444141;*/
	font-size: 40px;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	letter-spacing:3px; 

	text-align: center;
	
}
.contenedor-perfil{

	margin: 5% auto;
	
	width: 90%;
}
.contenedor-perfil h2 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
.contenedor-favoritos {
	margin: 5% auto;
	width: 95%;
}

.contenedor-favoritos div{
	display: inline-block;
	margin: 5px 7px;
	width: 220px;
}
.contenedor-perfil div {
	display: inline-block;
	vertical-align: top;
}
.div-password-user{
	width: 40%;
}
.div-password-user div {
	padding: 7px;

	width: 90%;

}

.div-password-user div label {
	width: 30%;
}
.div-password-user div input[type="password"]{
	padding: 7px;
	width: 65%;

}
.empresas-container {
	margin: 30px auto;
	padding: 3px;
	width: 100%;
	
}
.empresas-container .empresa {
	display: inline-block;
	margin: 10px;
	vertical-align: top; 
	width: 170px;
}
.form-nueva-sede{
	margin: 10% auto;
	width: 100%;
}
.actualizar-sede{
	margin: 5px;
	width: 95%;
}

.actualizar-sede label {
	width: 20%;
}
.actualizar-sede input {
	padding: 7px;
	width: 70%;
}
.contenedor-promos-ajax{
	width: 100%;
}

.lista-sedes-info {
	border: 2px solid #33E6F2;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	box-shadow: 2px 2px 4px rgba(0,0,0, .5);



	padding: 10px;
}
.lista-sedes-info h2 {
	background-color: #33E6F2;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius: 25px;
	-ms-border-radius: 25px;
	border-radius: 25px;
	color: #fff;
	font-weight: bold;
	margin: 5px auto;
	padding: 10px;
	text-align: center;
	width: 50%;
}
.info-vista-perfil{
	letter-spacing: inherit;
	text-align: left;
	width: 400px;
}
.menu-categorias{

	border: 1px solid #ccc;
	margin: 30px auto;
	width: 95%;
}

.menu-categorias ul li {
	list-style: none;
	font-size: 18px;
}

.navegar-centro{
	margin: 0 auto;
	width: 95%;
}

.navegar-centro form input[type="text"], .navegar-centro form input[type="submit"]
{
	display: inline-block;
	padding: 10px;
	margin : 0 5px;
}
.navegar-centro form input[type="text"]{
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	-ms-border-radius: 7px;
	border-radius: 7px;
	font-size: 18px;
	display: inline;
	
	width: 80%;
}

.nueva-empresa-form{
	margin: 100px auto;
	width: 50%;
}

.pormo-lista{
	
	width: 100%;
}
 .item-promo-lista{
	border: 1px solid #EEB020;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;

	box-shadow: 1px 1px 2px rgba(238,176,32, .4);
	display:  inline-block;
	min-height: 285px;
	margin: 5px 10px;
	position: relative;
	vertical-align: top;
	width: 290px;
}
.item-promo-lista p {
	font-size: 16px;
	padding: 2px 5px;
}
.item-promo-lista h3 {
	font-weight: bold;
	padding: 4px;
	text-align: center;

}
.item-promo-lista img {
	border-radius: 7px 7px 0 0;
	height: 125px;
	width: 100%;
}
.item-promo-lista .sede-item {
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.mensaje-favoritos-ajax{
	font-size: 25px;
	left: 50%;
	position: fixed;
	top: 50%;
	width: 350px;
	z-index: 999;
}



.select-ciudad {
	border: 1px solid #ccc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	font-size: 20px;
	padding: 5px;
	text-align: center;
	width: 70%;
}

.select-ciudad:hover {
	cursor: pointer;
}

.selected {
	color: red;
}
.titulo_registro{
	
	margin: 0 auto;
	
	text-align: center;
	}
.titulo_registro a {
	box-shadow: 0px 2px 0px rgba(0,0,0, .8);
	box-shadow: 0px 3px 0px rgba(0,0,0, .6);
	box-shadow: 0px 4px 0px rgba(0,0,0, .4);
	font-size: 30px;
}	
.username-div {
	padding: 5px;
	width: 30%;
	}
.username-div input[type="text"], .username-div img {
	display: inline-block;
	margin: 5px 7px;
	vertical-align: middle;
}
.username-div input[type="text"]{
	letter-spacing: 1px;
	padding: 10px;
	width: 70%;
}

.nueva-sede{
	width: 100%;
}
.nueva-sede h2 {
	font-size: 35px;
	font-weight: bold;
	text-align: center;
}

.form-registro{
	margin: 10px auto;
	width: 300px;
}

.btn-sombra {
	box-shadow: 0px 2px 0px rgba(0,0,0, .8);
	box-shadow: 0px 3px 0px rgba(0,0,0, .6);
	box-shadow: 0px 4px 0px rgba(0,0,0, .4);
}

.wrapper-olvido-pass{
	font-size: 25px;
	margin: 10% auto;
	max-width: 100%;
	text-align: center;
	width: 90%;
}
.wrapper-olvido-pass div {
	display: inline-block;
	margin: 10px;
	vertical-align: top;
}
.wrapper-olvido-pass .info-recuperar{
	border-bottom: 2px solid #ccc;
	padding: 10px;
	width: 40%;
}
.wrapper-olvido-pass .form-recuperar{
	width: 50%;
}
.wrapper-olvido-pass h2{
	font-size: 35px;
	font-weight: bold;
}
.wrapper-olvido-pass div.form-recuperar form {
	width: 95%;
}
.wrapper-olvido-pass div.form-recuperar form label {
	width: 25%;
}
.wrapper-olvido-pass div.form-recuperar form input[type="email"]{
	padding: 5px;
	width: 60%;
}




/* NUEVOS ESTILOS CATALOGO PRODUCTOS*/

.img-producto-lista{

	height: 100px !important;
	width: 100%;
}

.My-Title {

	font-size: 18px !important;
	text-align: center;
}

.My-Category-Title {

	font-size: 14px !important;
	text-align: center;
	background-color: #2acbfd;
	padding: 5px;
	color: #FFF;
}

.My-Textblock {

	text-align: center;
	font-size: 13px;
}

.My-Price {

	font-weight: bold;
	color: #1facda;
}

.My-Align {

	text-align: center !important;
	display: block;
}

.My-Circle {

	font-size: 13px;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	top: 0px;
	color: #FFF;
	box-sizing: border-box;
	border: solid 1px #DDD;
	right: -10px;
	padding: 0;
	margin: 0;
	background-color: #93d9ea;
	display: inline-block;
	min-width: 45px;
	padding: 15px;
}

#btn-cambiar-img{
	margin: 10px auto;
}
#nombre-seo{
	width: 100%;
}






/*  MEDIA QUERIES*/

@media screen and (min-width: 780px) and (max-width: 1024px){
	
	
}

@media screen and (min-width: 480px) and (max-width: 769px){

	.contenedor-perfil div{
		display: inline-block;
		margin: 5px auto;
		width: 80%;
	}

	.div-password-user{
		width: 100%;
	}
	
	
}

@media screen and (max-width: 479px){

	.contenedor-perfil div{
		display: inline-block;
		width: 90%;
	}
	
	
}