*{

	font-family: 'Open Sans', sans-serif, Georgia, Verdana, Arial;
}
h1.megalopolis_titulo{
	text-align: center;
	font-family: Georgia, Comic-sans-serif;
	font-size: 75px;
	font-weight: bold;


}

div.productos-container {
	max-width: 100%;
	padding: 5px;
	width: 100%;

}
div.productos-container .producto {
	border :.5px solid #93d9ea;
	display: inline-block;
	margin: 4px 8px;
	min-height: 325px;
	width: 200px;
}

img.img-info-empresa {
	border : 4px solid #EF6D17;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	
	border-radius: 5px;

	box-shadow: 2px 2px 4px rgba(0,0,0, .5);
	position: absolute;
	right: 5px;
	top: 5px;
	width: 200px;
	height: 110px;
}

textarea {
	text-align: left;
}

ul.menu-sedes {
	width: 100%;
}
ul.menu-sedes li {
	border-bottom: 1px solid #A19393;
	display: inline-block;
	font-size: 20px;
	padding: 2px 7px;
	margin: 2px 7px;
	list-style: none;

}
.active-menu{
	
	color: red;
	font-weight: bold;

}
.active-menu a {
	background-color: #EA4949;
	border-bottom: 2px solid red;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;

	box-shadow: 2px 0 2px rgba(234,73,73, .3);
	color: #fff;
	padding: 5px;
	font-size: 20px;
}


.active-menu a:hover {
	color: #fff;
}
/*BACKGROUND DEL CONTENEDOR DE PROMO####################################*/
.back-promo{
	background-image: url(../img/mega-imgs/back-promo.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
}

.boton-abajo-pregunta{
	position: absolute;
	right: 3px;
	top: 7px;
}
.catalogo-header {
	margin: 5% auto;
	width: 100%;
}
.catalogo-header h2 {
	/*color: #444141;*/
	font-size: 40px;
	/*font-family: 'Oswald', sans-serif;*/
	font-weight: bold;
	letter-spacing:3px; 

	text-align: center;
	
}

.contenedor-buscador {
	margin: 5% auto;
	width: 90%;
}

.contenedor-buscador form {
	width: 100%;
}

.contenedor-buscador form input[type="text"]{
	padding: 7px;
	width: 80%;
}

.contenedor-productos-busqueda {
	width: 100%;
}
.contenedor-productos-busqueda div.producto {
	display: inline-block;
	margin: 10px;
}

.contenedor-perfil{

	margin: 5% auto;
	
	width: 90%;
}
.contenedor-empresas {
	margin: 0 auto;
	padding: 2px;
	width: 95%;
}

.contenedor-empresas div.search-container {
	border : 1px solid #f90;
	display: inline-block;
	height: 300px;
	vertical-align: top;
	margin: 10px 15px;
	width: 370px;
}

.contenedor-empresas div.search-container div.contenedor-subs{
	height: 100%;
}

.contenedor-perfil h2 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
.contenedor-favoritos {
	margin: 5% auto;
	width: 95%;
}

.contenedor-favoritos div{
	display: inline-block;
	margin: 5px 7px;
	width: 220px;
}
.contenedor-perfil div {
	display: inline-block;
	vertical-align: top;
}
.contenedor-preguntas-null {
	border-bottom:  1px solid #ccc;
	margin: 7px auto;
	padding: 10px;
	width: 100%;

}

.contenedor-preguntas-total{
	padding: 10px;
	margin: 7px auto;
	width: 100%;

}
.contenedormapa-principal{
	height: 600px;
	width: 100%;

}

.contenedor-mapa{
	
	width: 95%;
	margin: 0 auto;
	height: 100%;
   overflow: hidden;
	
}

.contenedor-preguntas {
	width: 100%;
}
.div-password-user{
	width: 40%;
}
.div-password-user div {
	padding: 7px;

	width: 90%;

}
.descripcion-producto{

	margin: 10% auto;
	text-align: center;
	width: 80%;
}
.descripcion-producto h2 {
	font-size: 45px !important;
	font-family: 'Open sans';
	font-weight: bold;
	font-style: italic;
	text-align: center;
}
.img-promo {
	background-image: url(../img/mega-imgs/promo.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 10px;
	bottom: 0;
	width: 150px;
	height: 150px;

}
.des-promos p {
	display: block;
}
.des-promos .des-corta{
	font-family: 'Open Sans';
	font-size: 20px;

	padding: 10px;
	margin: 10px auto;
	width: 100%;
}

.des-promos .des-larga{
	font-family: 'Open Sans';
	font-size: 30px;

	padding: 10px;
	margin: 10px auto;
	width: 100%;

}

.div-password-user div label {
	width: 30%;
}
.div-password-user div input[type="password"]{
	padding: 7px;
	width: 65%;

}
.empresas-container {
	margin: 30px auto;
	padding: 3px;
	width: 100%;
	
}
.empresas-container .empresa {
	display: inline-block;
	margin: 10px;
	vertical-align: top; 
	width: 170px;
}
.form-nueva-sede{
	margin: 10% auto;
	width: 100%;
}

.hide-mapa{
	display: none;
}

.img-producto-descripcion{
	width: 250px;
}

.descripcion-producto h2 {
	font-size: 30px;
	font-weight: bold;
}


.descripcion-producto img, .descripcion-producto p{
	display: inline-block;
	vertical-align: top;
}

.descripcion-producto p{
	font-size: 35px;
	padding: 10px;
}

.actualizar-sede{
	margin: 5px;
	width: 95%;
}

.actualizar-sede label {
	width: 35%;
}
.actualizar-sede input {
	padding: 7px;
	width: 55%;
}
.contenedor-promos-ajax{
	width: 100%;
}

.header-preguntas h2 , .header-preguntas img{
	display: inline-block;

}

.info-landing {
	background-image: url(../img/mega-imgs/bg1.png);
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	margin: 20px auto;
	padding: 10px;
	width: 40% !important;
}

.lista-sedes-info {
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	box-shadow: 2px 2px 1px rgba(0,0,0, .1);



	padding: 10px;
}
.lista-sedes-info a {
	margin: 4px 4px;
}
.link-publico{
	width: 100%;
	
}
.link-promo {
	font-size: 18px;
	font-weight: bold;
}

.links-catalogos {

	font-size: 18px;
	font-weight: bold;
	position: absolute;
	margin: 12px 7px !important;
	right: 10px;

}
.lista-sedes-info h2 {
	
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius: 25px;
	-ms-border-radius: 25px;
	border-radius: 25px;
	
	font-weight: bold;
	margin: 5px auto;
	padding: 10px;
	text-align: center;
	width: 50%;
}

.logo{
	margin: 0 auto;
	max-width: 100%;
	position: absolute;
	right: 15%;
	width: 450px;
}
.info-vista-perfil{
	letter-spacing: inherit;
	text-align: left;
	width: 400px;
}
.menu-categorias{

	border: 1px solid #ccc;
	margin: 30px auto;
	width: 95%;
}

.menu-categorias ul li {
	list-style: none;
	font-size: 18px;
}

.navegar-centro{
	margin: 0 auto;
	width: 95%;
}

.navegar-centro form input[type="text"], .navegar-centro form input[type="submit"]
{
	display: inline-block;
	padding: 10px;
	margin : 0 5px;
}
.navegar-centro form input[type="text"]{
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	-ms-border-radius: 7px;
	border-radius: 7px;
	font-size: 18px;
	display: inline;
	
	width: 80%;
}

.nueva-empresa-form{
	margin: 100px auto;
	width: 50%;
}

.pormo-lista{
	
	width: 100%;
}

.promos-navegar {
	width: 100%;
}
.precio-promo-navegar{
	color: #f90;
	font-size: 30px;

}


 .item-promo-lista{
	border: 1px solid #EEB020;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;

	box-shadow: 1px 1px 2px rgba(238,176,32, .4);
	display:  inline-block;
	min-height: 285px;
	margin: 5px 10px;
	position: relative;
	vertical-align: top;
	width: 290px;
}
.item-promo-lista p {
	font-size: 16px;
	padding: 2px 5px;
}
.item-promo-lista h3 {
	font-weight: bold;
	padding: 4px;
	text-align: center;

}
.item-promo-lista img {
	border-radius: 7px 7px 0 0;
	height: 125px;
	width: 100%;
}
.item-promo-lista .sede-item {
	position: absolute;
	bottom: 0px;
	right: 0px;

}
.mensaje-favoritos-ajax{
	font-size: 25px;
	left: 50%;
	position: fixed;
	top: 50%;
	width: 350px;
	z-index: 999;
}
 .precio-antes {
 	color: #ccc;
 	font-size: 18px;
 }
 .precio-antes-p{
 	font-size: 30px;
 	margin: 10px auto;
 	width: 200px;
 }

 .precio-despues-p{
 	font-size: 45px;
 	margin: 10px auto;
 	width: 150px;

 }
 .precio-descuento{
 	font-size: 22px;
 	color: #f90;
 }

 .precio-producto-2{
 	text-align: center;
 	font-size: 3em;
 	font-weight: bold;
 	letter-spacing: inherit;
 }

 .promo-desc-porcentaje{

 	background-color: #f90;
 	border: 1px solid red;
 	border-radius: 50%;
 	color: #fff;
 	font-size: 25px;
 	font-weight: bold;
 	padding: 10px;
 	position: absolute;
 	right: 0;
 	top: 2px;
 }

 .porcentaje-producto{
 	font-size: 20px;
 	font-weight: bold;
 }
 .promo-container{
 	box-shadow: 2px 2px 2px rgba(0,0,0, .5);
 	background-color: #FFF;
 	margin: 10% auto;
 	padding: 10px;
 	width: 70%;
 }
 .promo-container h2 {
 	font-size: 50px;
 	font-weight: bold;
 	max-width: 100%;
 	text-align: center;
 }


.select-ciudad {
	border: 1px solid #ccc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	font-size: 20px;
	padding: 5px;
	text-align: center;
	width: 70%;
}

.select-ciudad:hover {
	cursor: pointer;
}

.selected {
	color: red;
}

.selects-categoria {
	width: 100% !important;
}
.selects-categoria select#category, .selects-categoria select#subcat {
	width: 30% !important;
	display: inline-block;
}

.selects-categoria select#subcat{
	padding: 5px;
	width: 60%;
}
.titulo_registro{
	
	margin: 0 auto;
	
	text-align: center;
	}
.titulo_registro a {
	box-shadow: 0px 2px 0px rgba(0,0,0, .8);
	box-shadow: 0px 3px 0px rgba(0,0,0, .6);
	box-shadow: 0px 4px 0px rgba(0,0,0, .4);
	font-size: 30px;
}	
.username-div {
	padding: 5px;
	width: 30%;
	}
.username-div input[type="text"], .username-div img {
	display: inline-block;
	margin: 5px 7px;
	vertical-align: middle;
}
.username-div input[type="text"]{
	letter-spacing: 1px;
	padding: 10px;
	width: 70%;
}

.nueva-sede{
	width: 100%;
}
.nueva-sede h2 {
	font-size: 35px;
	font-weight: bold;
	text-align: center;
}
.mensaje-ajax-categorias{
	width: 100%;
}

.form-registro{
	margin: 10px auto;
	width: 300px;
}

.btn-sombra {
	box-shadow: 0px 2px 0px rgba(0,0,0, .8);
	box-shadow: 0px 3px 0px rgba(0,0,0, .6);
	box-shadow: 0px 4px 0px rgba(0,0,0, .4);
}

.wrapper-olvido-pass{
	font-size: 25px;
	margin: 10% auto;
	max-width: 100%;
	text-align: center;
	width: 90%;
}
.wrapper-olvido-pass div {
	display: inline-block;
	margin: 10px;
	vertical-align: top;
}
.wrapper-olvido-pass .info-recuperar{
	border-bottom: 2px solid #ccc;
	padding: 10px;
	width: 40%;
}
.wrapper-olvido-pass .form-recuperar{
	width: 50%;
}
.wrapper-olvido-pass h2{
	font-size: 35px;
	font-weight: bold;
}
.wrapper-olvido-pass div.form-recuperar form {
	width: 95%;
}
.wrapper-olvido-pass div.form-recuperar form label {
	width: 25%;
}
.wrapper-olvido-pass div.form-recuperar form input[type="email"]{
	padding: 5px;
	width: 60%;
}




/* NUEVOS ESTILOS CATALOGO PRODUCTOS*/

.img-producto-lista{

	height: 100px !important;
	width: 100%;
}

.My-Title {

	font-size: 18px !important;
	text-align: center;
	height: 20px;
}

.My-Category-Title {

	font-size: 14px !important;
	text-align: center;
	background-color: #2acbfd;
	height: 35px;
	padding: 5px;
	color: #FFF;
}

.My-Textblock {

	text-align: center;
	font-size: 13px;
	height: 55px;
}

.My-Price {

	font-weight: bold;
	color: #1facda;
}

.My-Align {

	text-align: center !important;
	display: block;
}

.My-Circle {

	font-size: 13px;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	top: 0px;
	color: #FFF;
	box-sizing: border-box;
	border: solid 1px #DDD;
	right: -10px;
	padding: 0;
	margin: 0;
	background-color: #93d9ea;
	display: inline-block;
	min-width: 45px;
	padding: 15px;
}
.precio{
	height: 15px !important;
}

#btn-cambiar-img{
	margin: 10px auto;
}
#nombre-seo{
	width: 100%;
}






/*  MEDIA QUERIES*/

@media screen and (min-width: 780px) and (max-width: 1024px){
	
	
}

@media screen and (min-width: 480px) and (max-width: 769px){

	.contenedor-perfil div{
		display: inline-block;
		margin: 5px auto;
		width: 80%;
	}

	.div-password-user{
		width: 100%;
	}
	
	
}

@media screen and (max-width: 479px){

	.contenedor-perfil div{
		display: inline-block;
		width: 90%;
	}
	
	
}

.My-Tag {

	border: 1px solid #a5d24a;
	padding: 5px;
	margin: 0px 1px;
	text-decoration: none;
	background: #cde69c;
	color: #638421;
}