.form-img-cambio{
		max-width: 100%;
		width: 90%;
		border: 2px solid red;

	}
	.form-img-cambio div{
		display: block;
		margin: 10px;

	}
	.btn-cambio-img{
		margin: 5px;
	}
	.colorItem{
		min-height: 150px;
		min-width: 150px;
		padding: 5px;
		color: #fff;
	}
	.items-color{
		width: 80%;

	}
	.items-color li {
		display: inline;
		margin: 5px;
		padding: 10px;
		width: 18%;
	}
	.items-color li span {
		margin-right: 1em;
	}

	.color-header{
		max-width: 100%;
		width: 90%;
		text-align: center;
		padding: 10px;
		margin: 0 auto
	}
	.mensaje-ajax-color
	{
		max-width: 100%;
		width: 50%;

	}
	.msj-ajax-content{
		background-color: #F23636;
		width: 100%;
		font-weight: bold;
		color: #fff;
		padding: 10px;
	}
	.imgs-slider-container{
		max-width: 100%;
		width: 95%;
		padding: 10px;
		text-align: center;
		margin-top: 1em;
	}
	.imgs-slider-container h2 {
		font-weight: bold;
		font-size: 30px;
	}
	.imgs-slider-container p {
		padding: 20px;
		font-size: 18px;
		letter-spacing: 1px;
	}
	.imgs-actuales{
		max-width: 100%;
		width: 100%;
		position: relative;
		text-align: center;
		min-height: 200px;
		border: 2px solid #2D6CEC;
	}
	.header-contenedor{
		
		width: 100%;
		
		position: absolute;
		top: 0;

		background-color: #2D6CEC;
		
	}
	.header-contenedor h2 {
		color: #fff;
	}
	.cont-thumb {
		margin-top: 10%;
	}

	/*ESTILOS PARA EL CONTENEDOR DE COLORES*/
	.contenedor-colores
	{
		max-width: 100%;
		width: 90%;
		margin: 0 auto;
	}
	.contenedor-colores .color-base {
		display: inline-block;
		text-align: center;
		border: .4px solid #ccc;
		box-shadow: 2px 2px 1px rgba(0,0,0,.50);
		padding: 5px;
		margin: 5px ;
		width: 30%;

	}
	.contenedor-colores .color-base a
	{
		color: #fff;
		text-shadow: 2px 2px 1px rgba(0,0,0, .7);
		text-decoration: none;
	}